.player {
    width: 300px;
    height: 510px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position: relative;
}
.player img {
    width: 286px;
    height: 286px;
    margin: 7px;
    border-radius: 8px;
}
.player-info {
    margin-left: 14px;
}
.btn-player {
    background: #FFE0B3;
    color: black;
    width: 100%;
    border: 1px solid #95A0A7;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
}
.btn-player:hover {
    background: orange;
}